!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title Interfaz Gestión
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(href='/css/bootstrap.css', rel='stylesheet')
    style(type='text/css')
      body {
      padding-top: 60px;
      padding-bottom: 40px;
      }
      .sidebar-nav {
      padding: 9px 0;
      }
    link(href='/css/bootstrap-responsive.css', rel='stylesheet')
    link(href='/css/app/locatario.css', rel='stylesheet')
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/') Party Band
          .nav-collapse.collapse
            p.navbar-text.pull-right
              | Logged in as
              &nbsp;
              a.navbar-link(href='#') #{user.nombre}
            ul.nav                
              li.active
                a#salirsession(href='/locatario/salir') Salir
    .container-fluid
      .row-fluid
        .span3
          .well.sidebar-nav
            ul#menu.nav.nav-list
              li.nav-header Funciones
                img.alerta(src='/img/luz-amarilla.gif',width='30px',title='Cambios en la base de datos')  
              li.active
                a.clickverproductos(href='http://localhost:3000/locatario/#verproductos') Productos
              li
                a.clickverstock(href='http://localhost:3000/locatario/#verstock') Stock           
              li
                a.clickverproveedores(href='http://localhost:3000/locatario/#verproveedor') Proveedores
              li
                a.clickverventas(href='http://localhost:3000/locatario/#verventa') Ver Ventas
        .span9

          //
          //
          //
          #verproductos.anchor
          .section
            .row-fluid
            .span8
              //include interfazGestionFiles/verProductos.jade
              table.responstable.tablaproductos
                //tr
                  th Imagen  
                  th Nombre 
                  th Categoría 
                  th Valor 
                  th Descripción 
                  th Proveedor 
                  th Teléfono
                  th Editar
            .row-fluid
          //
          // 
          //
          #verstock.anchor
          .section
            .row-fluid
            .span8
              table.responstable.tablastock 
            .row-fluid
            //
            //
            //
          #verproveedor.anchor
          .section
            .row-fluid
            .span8
              table.responstable.tablaproveedor
            .row-fluid
            //
            //
            //
          #verventa.anchor
          .section
            .row-fluid
            .span3
              select#selectyear(name='selectventas-year')
                option(value=0,selected) Seleccione un año
                option(value=2015) 2015
                option(value=2016) 2016
            .span3
              select#selectmonth(name='selectventas-month')
                option(value=0,selected) Seleccione un mes
                option(value=1) Enero
                option(value=2) Febrero
                option(value=3) Marzo
                option(value=4) Abril
                option(value=5) Mayo
                option(value=6) Junio
                option(value=7) Julio
                option(value=8) Agosto
                option(value=9) Septiembre
                option(value=10) Octubre
                option(value=11) Noviembre
                option(value=12) Diciembre    

            .row-fluid
            .span4
              table.responstable.tablaventa01
                tr
                  th Venta Total Mes
                tr
                  td.ventatotalmes.emptyAll           
            .span4
              table.responstable.tablaventa02
                tr
                  th Clientes totales
                  th Clientes promedio por día
                tr
                  td.clientestotales.emptyAll 
                  td.clientestotalespordia.emptyAll
            .row-fluid
            .span4              
              table.responstable.tablaventa03
                tr
                  th Más vendido
                  th Cantidad
                tr
                  td.masvendido.emptyAll 
                  td.masvendido-cantidad.emptyAll            
            .span6
              table.responstable.tablaventa04
                tr
                  th(colspan=3) Ventas por día
                tr
                  td.ventaspordia-dia.emptyAll 
                  td.ventaspordia-cantidad.emptyAll
                  td.ventaspordia-monto.emptyAll       
      hr
      footer
        p © PartyBand 2016
  include ../partials/scripts
