!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title Interfaz Gestión
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(href='/css/bootstrap.css', rel='stylesheet')
    style(type='text/css')
      body {
      padding-top: 60px;
      padding-bottom: 40px;
      }
      .sidebar-nav {
      padding: 9px 0;
      }
    link(href='/css/bootstrap-responsive.css', rel='stylesheet')
    link(href='/css/app/locatario.css', rel='stylesheet')
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/') Party Band
          .nav-collapse.collapse
            p.navbar-text.pull-right
              | Logged in as
              &nbsp;
              a.navbar-link(href='#') #{user.nombre}
            ul.nav                
              li.active
                a#salirsession(href='/locatario/salir') Salir
    .container-fluid
      .row-fluid
        .span3.menuQlo
          .well.sidebar-nav
            ul#menu.nav.nav-list
              li.nav-header Funciones
                img.alerta(src='/img/luz-amarilla.gif',width='30px',title='Cambios en la base de datos')  
              li.active
                a.clickverproductos(href='http://localhost:3000/locatario/#verproductos') Productos
              li
                a.clickverstock(href='http://localhost:3000/locatario/#verstock') Stock           
              li
                a.clickverproveedores(href='#') Proveedores
              li
                a.clickverventas(href='#') Ver Ventas
        .span9

          //
          //
          //
          #verproductos.anchor
          .section
            .row-fluid
            .span8
              //include interfazGestionFiles/verProductos.jade
              table.responstable.tablaproductos
                //tr
                  th Imagen  
                  th Nombre 
                  th Categoría 
                  th Valor 
                  th Descripción 
                  th Proveedor 
                  th Teléfono
                  th Editar
            .row-fluid
          //
          // 
          //
          #verstock.anchor
          .section
            .row-fluid
            .span8
              table.responstable.tablastock
                tr
                  th Imagen  
                  th Nombre 
                  th Valor 
                  th Stock
                  th Nivel
                      
                    
            .row-fluid
            
          
      hr
      footer
        p © PartyBand 2016
  include ../partials/scripts
